<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Evidence</display-name>
  <welcome-file-list>
    <welcome-file>prihlaseni.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cz.ekf.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>cz.ekf.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>cz.ekf.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>cz.ekf.controller.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>cz.ekf.controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>cz.ekf.controller.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSomething</display-name>
    <servlet-name>AddSomething</servlet-name>
    <servlet-class>cz.ekf.controller.AddSomething</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSomething</servlet-name>
    <url-pattern>/AddSomething</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>cz.ekf.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>cz.ekf.controller.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProd</display-name>
    <servlet-name>AllProd</servlet-name>
    <servlet-class>cz.ekf.controller.AllProd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProd</servlet-name>
    <url-pattern>/AllProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdServlet</display-name>
    <servlet-name>ProdServlet</servlet-name>
    <servlet-class>cz.ekf.controller.ProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdServlet</servlet-name>
    <url-pattern>/ProdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellServlet</display-name>
    <servlet-name>SellServlet</servlet-name>
    <servlet-class>cz.ekf.controller.SellServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellServlet</servlet-name>
    <url-pattern>/SellServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cz.ekf.controller.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Rezervace</display-name>
    <servlet-name>Rezervace</servlet-name>
    <servlet-class>cz.ekf.controller.Rezervace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rezervace</servlet-name>
    <url-pattern>/Rezervace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RezervaceServlet</display-name>
    <servlet-name>RezervaceServlet</servlet-name>
    <servlet-class>cz.ekf.controller.RezervaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RezervaceServlet</servlet-name>
    <url-pattern>/RezervaceServlet</url-pattern>
  </servlet-mapping>
</web-app>